body{
    background-image: url("../images/fe769c1fb4b67a2c14da35db3bb3197c.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.cibo-gustoso{
    margin-top: -10px;
    letter-spacing: 0.3rem;
}

@import "../bootstrap/scss/bootstrap.scss";
