body{
    background-image: url("../images/fe769c1fb4b67a2c14da35db3bb3197c.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@import "../bootstrap/scss/bootstrap.scss";
